<!DOCTYPE html>
<html>
<head>
   <style>
      body {
         color: black;
      }
      .campo {
         margin: 20px;
      }

      #principal {
         margin: auto;
         width: 600px;
         border: 3px solid black;
      }

      .mg_erro{
         color: red;
         display: none;
      }

   </style>
   <script type="text/javascript">
      function validar() {
         var nome = document.getElementById("nome");
         var spanNome = document.getElementsByClassName(".mg_nome");
         
         if(name.value == ""){
               spanNome.style.display = "inline-block";
         }
         else{
            spanNome.style.display = "none";

            if(nome < 3){
document.write            }
         }
         senha = document.getElementsByName('senha').value;
         senha2 = document.getElementsByName('senha2').value;

         if (senha != senha2) {
            senha2.setCustomValidity("Senhas diferentes!");
         } else {
            senha2.setCustomValidity('');
         }
         senha.onchange = validatePassword;
         senha2.onkeyup = validatePassword;
      }
   </script>
   <script>
         function alertar() {
            alert('Seus dados serao apagados!');
         }
   </script>

</head>

<body background="messi.jpg" bgproperties="fixed">
   <div id="cabecalho" style="text-align: center">

         <h1>FORMULÁRIO DE CADASTRO</h1>
   </div>

   <div id="principal">
      <form name="cadastro" method="POST" action="formContato">

         <div class="campo">
            <label for="nome">Nome: </label>
            <span class="mg_erro mg_nome"></span>
            <input type="text" name="nome" id="nome" size="20" maxlength="40" />
         </div>

         <div class="campo">
            Email: </b>
            <input type="email" name="email" id="email">

         </div>
         <div class="campo">
            CPF: <input type="text" id="#cpf" class="form-control cpf-mask" placeholder="Ex.: 400.289.654.00">
         </div>

            <div class="campo">
               Sexo:
               <select name="sexo">
                  <option value="Feminino"> Feminino</option>
                  <option value="Masculino">Masculino</option>

               </select>
            </div>


               <div class="campo">
                  Módulo: <br>
                  <input type="radio" name="gender" value="male" checked> Primeiro<br>
                  <input type="radio" name="gender" value="female"> Segundo<br>
                  <input type="radio" name="gender" value="other"> Terceiro

               </div>

               <div class="campo">
                  Áreas de atuação preferidas: </b> <br>
                     <input type="checkbox" name="areas" value="programacao">Programação Web
                     <br>
                     <input type="checkbox" name="areas" value="redes">Redes de computadores
                     <br>
                     <input type="checkbox" name="areas" value="redes">Tópicos em informática
                     <br><br>
               
                     <div class="span3">Senha:</div>
                     <div class="span6"><input type="password" maxlength="10" id="NovaSenha" /></div> <br>
                  
                     <div class="span3">Confirme a senha:</div>
                     <div class="span6"><input type="password" maxlength="10" id="CNovaSenha" /></div>
                  <br>
                  <input type="submit" class="btn btn-primary pull-right botao_reset_senha"
                     onClick="validar()" value = "Enviar">
                  <button type="reset" class="btn btn-primary pull-left botao_limpar_senha">Limpar</button>
               </div>
            </div>
         </div>
      </form>
   </div>
</body>

</html>